<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TryScript.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <TryScript.Properties.Settings>
            <setting name="FileList" serializeAs="String">
                <value>FileList.txt</value>
            </setting>
            <setting name="CSS" serializeAs="String">
                <value>TryScript.css</value>
            </setting>
            <setting name="LeftMin" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="LeftMax" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="LeftRatio" serializeAs="String">
                <value>35</value>
            </setting>
        </TryScript.Properties.Settings>
    </userSettings>
</configuration>